.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5; /* Green background */
    padding: 10px 20px;
    color: black;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .nav-links {
    display: flex;
    gap: 20px; /* Space between links */
    position: relative;
  }
  
  
  .nav-link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #d4d4d4; /* Light gray on hover */
  }
  
  .logout-link {
    color: red;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .logout-link:hover {
    color: #ff6666; /* Lighter red on hover */
  }
  /*dropdown*/

  .nav-item {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .nav-item:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-link {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  
  .dropdown-link:hover {
    background-color: #f1f1f1;
  }